.vscode/launch.json
.vscode/tasks.json
API/bin/Debug/net5.0/API.deps.json
API/bin/Debug/net5.0/API.dll
API/bin/Debug/net5.0/API.exe
API/bin/Debug/net5.0/API.pdb
API/bin/Debug/net5.0/API.runtimeconfig.dev.json
API/bin/Debug/net5.0/API.runtimeconfig.json
API/bin/Debug/net5.0/appsettings.Development.json
API/bin/Debug/net5.0/appsettings.json
API/bin/Debug/net5.0/Core.dll
API/bin/Debug/net5.0/Core.pdb
API/bin/Debug/net5.0/Humanizer.dll
API/bin/Debug/net5.0/Infrastructure.dll
API/bin/Debug/net5.0/Infrastructure.pdb
API/bin/Debug/net5.0/Microsoft.Data.Sqlite.dll
API/bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Sqlite.dll
API/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
API/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
API/bin/Debug/net5.0/Microsoft.OpenApi.dll
API/bin/Debug/net5.0/SQLitePCLRaw.batteries_v2.dll
API/bin/Debug/net5.0/SQLitePCLRaw.core.dll
API/bin/Debug/net5.0/SQLitePCLRaw.nativelibrary.dll
API/bin/Debug/net5.0/SQLitePCLRaw.provider.dynamic_cdecl.dll
API/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
API/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
API/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
API/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
API/bin/Debug/net5.0/ref/API.dll
API/bin/Debug/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-arm64/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-mips64/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
API/bin/Debug/net5.0/runtimes/win-arm/native/e_sqlite3.dll
API/bin/Debug/net5.0/runtimes/win-arm64/native/e_sqlite3.dll
API/bin/Debug/net5.0/runtimes/win-x64/native/e_sqlite3.dll
API/bin/Debug/net5.0/runtimes/win-x86/native/e_sqlite3.dll
API/obj/API.csproj.EntityFrameworkCore.targets
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/API.csproj.nuget.g.targets
API/obj/project.assets.json
API/obj/project.nuget.cache
API/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
API/obj/Debug/net5.0/API.AssemblyInfo.cs
API/obj/Debug/net5.0/API.AssemblyInfoInputs.cache
API/obj/Debug/net5.0/API.assets.cache
API/obj/Debug/net5.0/API.csproj.CopyComplete
API/obj/Debug/net5.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net5.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net5.0/API.csprojAssemblyReference.cache
API/obj/Debug/net5.0/API.dll
API/obj/Debug/net5.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/net5.0/API.genruntimeconfig.cache
API/obj/Debug/net5.0/API.MvcApplicationPartsAssemblyInfo.cache
API/obj/Debug/net5.0/API.MvcApplicationPartsAssemblyInfo.cs
API/obj/Debug/net5.0/API.pdb
API/obj/Debug/net5.0/API.RazorTargetAssemblyInfo.cache
API/obj/Debug/net5.0/apphost.exe
API/obj/Debug/net5.0/ref/API.dll
API/obj/Debug/net5.0/staticwebassets/API.StaticWebAssets.Manifest.cache
API/obj/Debug/net5.0/staticwebassets/API.StaticWebAssets.xml
Core/bin/Debug/net5.0/Core.deps.json
Core/bin/Debug/net5.0/Core.dll
Core/bin/Debug/net5.0/Core.pdb
Core/bin/Debug/net5.0/ref/Core.dll
Core/obj/Core.csproj.nuget.dgspec.json
Core/obj/Core.csproj.nuget.g.props
Core/obj/Core.csproj.nuget.g.targets
Core/obj/project.assets.json
Core/obj/project.nuget.cache
Core/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Core/obj/Debug/net5.0/Core.AssemblyInfo.cs
Core/obj/Debug/net5.0/Core.AssemblyInfoInputs.cache
Core/obj/Debug/net5.0/Core.assets.cache
Core/obj/Debug/net5.0/Core.csproj.CoreCompileInputs.cache
Core/obj/Debug/net5.0/Core.csproj.FileListAbsolute.txt
Core/obj/Debug/net5.0/Core.csprojAssemblyReference.cache
Core/obj/Debug/net5.0/Core.dll
Core/obj/Debug/net5.0/Core.GeneratedMSBuildEditorConfig.editorconfig
Core/obj/Debug/net5.0/Core.pdb
Core/obj/Debug/net5.0/ref/Core.dll
Infrastructure/bin/Debug/net5.0/Core.dll
Infrastructure/bin/Debug/net5.0/Core.pdb
Infrastructure/bin/Debug/net5.0/Infrastructure.deps.json
Infrastructure/bin/Debug/net5.0/Infrastructure.dll
Infrastructure/bin/Debug/net5.0/Infrastructure.pdb
Infrastructure/bin/Debug/net5.0/Infrastructure.runtimeconfig.dev.json
Infrastructure/bin/Debug/net5.0/Infrastructure.runtimeconfig.json
Infrastructure/bin/Debug/net5.0/ref/Infrastructure.dll
Infrastructure/obj/ap.EntityFrameworkCore.targets
Infrastructure/obj/Infrastructure.csproj.EntityFrameworkCore.targets
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/Infrastructure.csproj.nuget.g.props
Infrastructure/obj/Infrastructure.csproj.nuget.g.targets
Infrastructure/obj/project.assets.json
Infrastructure/obj/project.nuget.cache
Infrastructure/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Infrastructure/obj/Debug/net5.0/Infrastructure.AssemblyInfo.cs
Infrastructure/obj/Debug/net5.0/Infrastructure.AssemblyInfoInputs.cache
Infrastructure/obj/Debug/net5.0/Infrastructure.assets.cache
Infrastructure/obj/Debug/net5.0/Infrastructure.csproj.CopyComplete
Infrastructure/obj/Debug/net5.0/Infrastructure.csproj.CoreCompileInputs.cache
Infrastructure/obj/Debug/net5.0/Infrastructure.csproj.FileListAbsolute.txt
Infrastructure/obj/Debug/net5.0/Infrastructure.csprojAssemblyReference.cache
Infrastructure/obj/Debug/net5.0/Infrastructure.dll
Infrastructure/obj/Debug/net5.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Debug/net5.0/Infrastructure.genruntimeconfig.cache
Infrastructure/obj/Debug/net5.0/Infrastructure.pdb
Infrastructure/obj/Debug/net5.0/ref/Infrastructure.dll
API/bin/Debug/net5.0/AutoMapper.dll
API/bin/Debug/net5.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
